export const config = {
    "aws_appsync_graphqlEndpoint": "",
    "aws_appsync_region": "eu-central-1",
    "aws_appsync_authenticationType": "API_KEY",
    "aws_appsync_apiKey": "",
    "be_publish_endpoint": "",
};